html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: white;
}
canvas {
  position: absolute;
}

.app{
  &__scroll-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
  }
}